{
  "flutter": {
    "platforms": {
      "android": {
        "default": {
          "projectId": "YOUR_PROJECT_ID_HERE",
          "appId": "YOUR_ANDROID_APP_ID_HERE",
          "fileOutput": "android/app/google-services.json"
        }
      },
      "ios": {
        "default": {
          "projectId": "YOUR_PROJECT_ID_HERE",
          "appId": "YOUR_IOS_APP_ID_HERE",
          "uploadDebugSymbols": false,
          "fileOutput": "ios/Runner/GoogleService-Info.plist"
        }
      },
      "dart": {
        "lib/firebase_options.dart": {
          "projectId": "YOUR_PROJECT_ID_HERE",
          "configurations": {
            "android": "YOUR_ANDROID_APP_ID_HERE",
            "ios": "YOUR_IOS_APP_ID_HERE"
          }
        }
      }
    }
  }
}