**/.dockerignore
**/Dockerfile
**/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/.vs/
**/.vscode/
**/.idea
**/.idea/
**.vs/
**.vscode/
**.idea/
**.user
**.suo
**.log
**.DS_Store
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/azds.yaml
**/bin
**/bin/
**/obj
**/obj/
**/charts
**/docker-compose*
**/Dockerfile*
**/node_modules
**/npm-debug.log
**/secrets.dev.yaml
**/values.dev.yaml
**/launchSettings.json
LICENSE
README.md